.title-1 {
    font-family: haas-grotesk-ds-pro, Helvetica, sans-serif;
    font-weight: 700;
    line-height: .87;
}

.title-1 {
    font-size: 8vw;
    z-index: 10;
}

.img8{
    height: 50vh;
    width: 75vh;
    z-index: 0;
}
.img7{
    height: 35vh;
    width: 55vh;
    position: relative;
    top: -10vh;
    left: 30vw;
    z-index: 1;
}
.img1{
    height: 15%;
    width: 20%;
    position: relative;
    top:-150px;
    left:55px;
    z-index: 2;
}
.img2{
    height: 10%;
    width: 15%;
    position: relative;
    top:-250px;
    left:-10px;
    z-index: 1;
}

.img5{
    height: 10%;
    width: 15%;
    position: relative;
    top:-80px;
    left:-30px;
    z-index: 1;
}

.img3{
    height: 30%;
    width: 35%;
    position: relative;
    top:-330px;
    left:120px;
    z-index: 1;
}

.img4{
    height: 20%;
    width: 30%;
    position: relative;
    top:-400px;
    left: 30px;
    z-index: 0;
}
